In [ ]:
###Friday class---------->DAY-2

In [ ]:
##variable declaration rules

In [ ]:
###1.No gaps/spaces in between variable names

In [1]:
full_name='rajesh'
print(full_name)

rajesh

In [ ]:
###2.Variable names doesn't start with number

In [2]:
name4='rajesh'
print(name4)

rajesh

In [ ]:
###3.No special characters should be used used in the beginning of the variable name

In [4]:
name='rajesh'
print(name)

rajesh

In [ ]:
###Data types
1.strings----------->str
2.list-------------->list
3.dictionary-------->dict
4.sets-------------->sets
5.tuples------------>tuples

In [ ]:
##1.strings
--------->collection of characters or series of characers
--------->it is a immutable data type

In [5]:
a='rajesh'
print(a)
type(a)

rajesh

str

In [8]:
a='rajesh'
print(a.title())                 ---------->title()----->enhancement of code method
print(a.upper())                 ---------->upper()------>enhancement of code method
print(a.lower())                ----------->lower()------>enhancement of code method

Rajesh
RAJESH
rajesh

In [ ]:
###Saturday class----------->DAY-3

In [ ]:
###Adding white spaces to string

In [9]:
print('\tpython')             ----------->\t takes 8 tab spaces

	python

In [10]:
print('languages:\n\tpython\n\tc++\n\tjaava\n\tembedded-c') ----->\n is a new line delimeter

languages:
	python
	c++
	jaava
	embedded-c

In [ ]:
###Extra spces in the beginning
stripping: 1.left stripping(lstrip)
           2.right stripping(rstrip)

In [17]:
a='python'
print(a.lstrip())
type(a)

python

str

In [ ]:
###2.List Data Types
--------->collection of elements
---------->we can declare our list in '[]'
------------>Index position starts with '0'

In [26]:
students=['harshitha','rajesh','shiva','shivani']
print(students)
print(students[1].title())
print(students[0].upper())

['harshitha', 'rajesh', 'shiva', 'shivani']
Rajesh
HARSHITHA

In [31]:
###To ad some message before name

students=['harshitha','rajesh','shiva','shivani']
message=f'All the best {students[1].title()}'
print(message)

All the best Rajesh